<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468437473370-8givm26ib5hcln49hb3mif7e65jo1d39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468437473370-8givm26ib5hcln49hb3mif7e65jo1d39</string>
	<key>API_KEY</key>
	<string>AIzaSyDX09pEI4kcy44a16DeD6kg66uudxr21As</string>
	<key>GCM_SENDER_ID</key>
	<string>468437473370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shree.vsal55555.PhotoUploader-Firebase</string>
	<key>PROJECT_ID</key>
	<string>photouploader-cc6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>photouploader-cc6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468437473370:ios:67a1a50ee46f9feab22063</string>
	<key>DATABASE_URL</key>
	<string>https://photouploader-cc6e0.firebaseio.com</string>
</dict>
</plist>